html, body {
  margin: 0;
  height: 100%;
  min-height:100%;
}

#app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Roboto-Regular, sans-serif;
}

